.BackerContainer {
    text-align: center;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0px;
    overflow: hidden;
    opacity: .9;
    background-color:  var(--white);
}
@font-face {
    font-family: pageFont;
    src: url(FontType.ttf);
}

.textOrdered{
    color:orange;
    font-family: pageFont;
}
.textOven{
    color:yellowgreen;
    font-family: pageFont;
}
.textFinished{
    color:green;
    font-family: pageFont;
}
.pBacker{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: pageFont;
}